# DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/axis_db?schema=public"

# AUTHENTICATION
BETTER_AUTH_SECRET=your_base64_secret_here
BETTER_AUTH_URL=http://localhost:3000

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

# APP CONFIG
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# MAILING
RESEND_API_KEY=re_your_api_key_here
